body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #363B48;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}

header {
    width: 100%;
    padding: 50px 0;
    background: url("drupalcon-big-blurred-cropped.jpg") repeat scroll 50% 50% / cover rgba(0, 0, 0, 0);
    text-align: center;
    color: #fff;
    margin: 0;
}

header h1,
header h2,
header h3 {
    margin: 0;
}

header h2 {
    margin: 10px 0 2px;
    font-size: 22px;
}

header p {
    font-size: 16px;
    margin: 0;
}

#introduction {
    text-align: center;
    color: #fff;
    background: hotpink;
    margin: 0;
    padding: 15px 0;
}

#introduction h3 {
    margin: 0;
    font-size: 22px;
}

#mission,
#information {
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 40px 0;
}

#mission h3,
#information h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

#information address {
    font-style: normal;
}
