body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #fff;
    color: #333;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.6;
}

p {
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
}

header {
    width: 100%;
    padding: 50px 0;
    background: url("drupalcon-big-blurred-cropped.jpg") repeat scroll 50% 50% / cover rgba(0, 0, 0, 0);
    text-align: center;
    color: #fff;
    margin: 0;
}

header h2 {
    margin: 10px 0 2px;
    color: #fff;
}

header p {
    font-size: 16px;
    margin: 0;
}

#introduction {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    background: hotpink;
}

#introduction h3 {
    margin: 0;
    font-size: 22px;
    color: #fff;
}

#mission,
#information {
    padding: 40px 0;
}



#information address {
    font-style: normal;
}

#location {
    font-style: normal;
    height: 300px;
    background-size: 100% auto;
    background-image: url(http://api.tiles.mapbox.com/v4/mapbox.streets-basic/pin-s-star+285A98%2812.564454,55.683575%29/12.564454,55.683575,15/1280x300.png?access_token=pk.eyJ1Ijoia2FzcGVyY2hyaXN0ZW5zZW4iLCJhIjoiT2s5Z3Z5WSJ9.BpNVWXvz3HVv-W6k2FrDvw);
}

#location .fill {
    background-color: #fff;
    height: 300px;
    padding: 20px 30px;
}

footer {
    background-color: #FFF;
    padding: 30px 0;
    text-align: center;
}